extends home_layout

block content
    div.jumbotron.text-center
        h1 PostIt
            p An Online Group Messaging Platform
        div
            a.btn-lg.btn-default(href='/register') Sign Up
    div.container-fluid.text-center
        h2 What You Can do
        h4 Start Chatting today
        br
        div.row
            div.col-sm-4
                span.glyphicon.glyphicon-user
                h4 Groups
                p Create broadcast groups and chat with ease
                br
            div.col-sm-4
                span.glyphicon.glyphicon-comment
                h4 Chat
                p An end to end Instant Messaging
                br
            div.col-sm-4
                span.glyphicon.glyphicon-envelope
                h4 Broadcast
                p Send broadcast Messages to your groups
                br
        div.row
            div.col-sm-4
                span.glyphicon.glyphicon-search
                h4 User search
                p Easily search for users with our autocomplete library
            div.col-sm-4
                span.glyphicon.glyphicon-folder-open
                h4 Collaboration
                p Collaborate wit group members and work on projects
            div.col-sm-4
                span.glyphicon.glyphicon-stats
                h4 Notifications
                p Get instant in-app,email and SMS notifications
    footer.container-fluid.text-center
        a(href="#" title="To Top")
            span.glyphicon.glyphicon-chevron-up
        p 2017 Copyright Post Inc
            a(href="#",title="PostIt Messaging")                                

