extends layout

block content
    div.row
        nav.col-md-3.bg-grey
            br
            br
            br
            ul.nav.nav-pills.nav-stacked(data-spy="affix")
                li
                    h3.text-center Groups
                    small 
                li
                    a.text-center(href="") Java programmers
                    small 
                li
                    a.text-center(href="") Node girls
                    small 
                li.active
                    a.text-center(href="") Laravel ninjas
                    small 
                li
                    a.text-center(href="") Pro TDD
                    small 
                li
                    a.text-center(href="") Django Pros
                    small 
        div.col-md-6
            br
            br
            br
            a.btn.btn-default.pull-right(href="/new/message") New Message
            h3 Laravel Ninjas
            p
                i A cool description about Laravel developers in this group.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            br
            div.media
                div.media-left
                    img.img-circle.media-object(src="/images/profile.png",style="width:45px")
                div.media-body
                    h4.media-heading 
                        a.text-dark(href="#") @djcranker       
                        small
                            i  11:45PM
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    span.label.label-primary  normal
                    hr
            div.media
                div.media-left
                    img.img-circle.media-object(src="/images/profile.png",style="width:45px")
                div.media-body
                    h4.media-heading 
                        a.text-dark(href="#") @godiya
                        small
                            i  2:06PM 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    span.label.label-danger  critical
                    hr
            div.media
                div.media-left
                    img.img-circle.media-object(src="/images/profile.png",style="width:45px")
                div.media-body
                    h4.media-heading 
                        a.text-dark(href="#") @bababeebest
                        small
                            i  4:00PM
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    span.label.label-warning  urgent
                    hr
            div.media
                div.media-left
                    img.img-circle.media-object(src="/images/profile.png",style="width:45px")
                div.media-body
                    h4.media-heading 
                        a.text-dark(href="#") @godiya
                        small
                            i  2:06PM 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    span.label.label-danger  critical
                    hr
            div.media
                div.media-left
                    img.img-circle.media-object(src="/images/profile.png",style="width:45px")
                div.media-body
                    h4.media-heading 
                        a.text-dark(href="#") @bababeebest
                        small
                            i  4:00PM
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    span.label.label-warning  urgent
                    hr
            div.media
                div.media-left
                    img.img-circle.media-object(src="/images/profile.png",style="width:45px")
                div.media-body
                    h4.media-heading 
                        a.text-dark(href="#") @djcranker
                        small
                            i  11:45PM
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    span.label.label-primary  normal
                    hr                
                                                        