extends layout

block content
    div.col-lg-8.col-md-offset-2
        br
        br
        br
        div.panel-body
            h1=group
            br
            form(role=form)
                div.form-group
                    label Name:
                    input.form-control.input-lg(type="text",placeholder="Your Group name")
                div.form-group
                    label Description (Optional)
                    input.form-control.input-lg(type="text",placeholder="Describe your group")
                div.form-group
                    label Add Users
                    select.form-control.select(multiple="multiple")
                        option
                            div.media
                                div.media-left
                                    img.img-circle.media-object(src="/images/profile.png",style="width:45px")
                                div.media-body
                                    h4.media-heading @djcranker
                        option @bababeebest
                        option @tokayeeh
                        option @johndoe   
                div.form-group
                    button.btn.btn-default.btn-lg.pull-right(type="submit") Create Group    
                    
                 
                            


